[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/winmananger"]
	path = bundle/winmananger
	url = https://github.com/vim-scripts/winmanager.git
[submodule "OmniCppComplete"]
	path = OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/AlternateFiles"]
	path = bundle/AlternateFiles
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/ConqueTerm"]
	path = bundle/ConqueTerm
	url = https://github.com/pthrasher/conqueterm-vim.git
